doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 9 lý do tiếng Anh là ngôn ngữ phổ biến nhất
    meta(content='Chernyh Mihail' name='author')
    meta(content='Spedito - All in one place' name='description')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='HandheldFriendly' content='true')
    meta(name='format-detection' content='telephone=no')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    link(rel='shortcut icon' href='assets/img/logoW.png' type='image/x-icon')
    link(rel='stylesheet' href='assets/css/uikit.min.css')
    link(rel='stylesheet' href='assets/css/main.css')
    // <link rel="stylesheet" href="assets/css/dropdown.css">
    link#dm-light(rel='stylesheet' href='assets/css/light.css')
  body.page-article.dm-light
    // Loader
    #page-preloader
      span.spinner.border-t_second_b.border-t_prim_a
    // Loader end
    .page-wrapper
      header.page-header
        .page-header__top
          .uk-container
            nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                button.uk-button(type='button' data-target='#offcanvas' data-uk-toggle='' data-uk-icon='menu')
                ul.uk-navbar-nav
                  li
                    a(href='home') TRANG CHỦ
                  li
                    a(href='catalog') KHÓA HỌC
                  li
                    a(href='branch') CHI NHÁNH
              .uk-navbar-center
                .logo
                  .logo__box
                    a(href='home')
                      img.logo__img.logo__img--full(src='assets/img/logo.png' alt='logo')
              .uk-navbar-right
                ul.uk-navbar-nav
                  li
                    a(href='home') VỀ CHÚNG TÔI
                  li
                    a(href='blog') TIN TỨC
                  li
                    a(href='contacts') LIÊN HỆ
        .page-header__bottom
          .uk-container
            .uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                div
                  .block-with-phone
                    img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                    div
                      span Liên hệ ngay với chúng tôi
                      a(href='tel:13205448749') 0394143031
              .uk-navbar-center
              .uk-navbar-right
                .other-links
                  ul.other-links-list
                    li
                      a(href='#modal-full' data-uk-toggle='')
                        span(data-uk-icon='search')
                    li
                      a(href='login')
                        span(data-uk-icon='user')
                    li
                      a(href='cart')
                        span(data-uk-icon='cart')
      main.page-main
        .section-first-screen
          .first-screen__bg(style='background-image: url(assets/img/pages/contacts/bg12.jpg)')
          .first-screen__content
            .uk-container
              nav.category-nav
                nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
                  ul.uk-navbar-nav
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunhi.png' alt='face care' data-uk-svg='')
                          span.nav-item__text Khoa học
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunien.png' alt='hair care' data-uk-svg='')
                          span.nav-item__text Ngôn ngữ
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/onthi.png' alt='lips care' data-uk-svg='')
                          span.nav-item__text Luyện thi
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/kynang.png' alt='body care' data-uk-svg='')
                          span.nav-item__text Kỹ năng
              .first-screen__box
                h2.first-screen__title Latest News
                .first-screen__breadcrumb
                  ul.uk-breadcrumb
                    li
                      a(href='/') Home
                    li
                      span News Blog
                    li
                      span Full post
        .page-content
          .uk-margin-large-top.uk-container.uk-container-small
            article.article-full
              .article-full__info
                .article-full__author
                  i.fas.fa-user
                  span By Tom
                .article-full__category
                  i.fas.fa-folder-open
                  span Posted in News
                .article-full__date
                  i.fas.fa-calendar-alt
                  span July 31, 2021
                .article-full__comments
                  i.fas.fa-comment
                  span 3
              .article-full__image
                a(href='/blogarticle')
                  img(src='assets/img/blog/eng-blog-1.jpg' alt='img-article')
              .article-full__content
                h1 9 lý do tiếng Anh là ngôn ngữ phổ biến nhất
                p
                  | Cho dù bạn có đến bất kỳ nơi nào trên thế giới, bạn cũng có thể tìm thấy một ai đó nói tiếng Anh, ngôn ngữ phổ biến. Nhưng từ khi nào và tại sao tiếng Anh lại trở thành ngôn ngữ phổ biến dành cho các cộng đồng ở cách xa nhau
                  | như Anh và Polynesia thuộc Pháp? Chúng ta hãy cùng tìm hiểu nhé.
                h3 1. Nhiều người nói tiếng Anh
                p
                  | Tùy theo cách bạn tính, bên cạnh gần 400 triệu người bản ngữ, tiếng Anh được hiểu và/hoặc nói bởi 1-1,6 triệu người khác trên thế giới. Với trên một phần tư dân số thế giới sử dụng ngôn ngữ này, luôn có ai đó đang nói tiếng
                  | Anh.
                h3 2. Ngôn ngữ kinh doanh quốc tế
                p
                  | Với các trụ sở kinh doanh chính ở các trung tâm tài chính thế giới như Anh và Mỹ, tiếng Anh từ lâu đã trở thành ngôn ngữ thương mại mặc định. Một phần cũng có thể do những người nói tiếng Anh không phải là những người đầu tiên
                  | muồn học một ngôn ngữ khác và bằng cách nào đó, bạn phải tìm một ra cơ sở chung với mọi người trên thế giới chứ?
                h3 3. Hầu hết các bộ phim đều bằng tiếng Anh
                p
                  | Hollywood là trung tâm giải trí thế giới, do đó một cách tự nhiên, tiếng Anh cũng trở thành ngôn ngữ chính của các nhà sản xuất phim. Tất nhiên, các bộ phim thường được lồng tiếng – tuy nhiên nhiều người vẫn thích xem bằng
                  | ngôn ngữ ban đầu của phim hơn.
                h3 4. Ngôn ngữ dễ học
                p
                  | Điều này có thể gây tranh cãi tùy thuộc vào người bạn đang nói chuyện, nhưng nhìn chung tiếng Anh không phải là ngôn ngữ khó học nhất. Từ vựng dễ nắm bắt và có mối liên hệ với nhiều ngôn ngữ khác, nghĩa là những người sử dụng
                  | ngôn ngữ khác có thể biết được các khái niệm trong tiếng Anh có nguồn gốc từ đâu.
                h3 5. Liên quan đến các ngôn ngữ khác
                p
                  | Tiếng Anh có lịch sử lâu đời và hấp dẫn, trải dài qua các cuộc chiến tranh, xâm lược và ảnh hưởng trên toàn cầu. Các nền văn hóa đã giúp hình thành tiếng Anh hiện đại bao gồm La Mã, Viking và Pháp. Do đó, đây là thứ tiếng lai
                  | bao gồm các thành phần của tiếng Latinh, Đức và Rôman.
                h3 6. Ngôn ngữ với nhiều cách diễn đạt
                p
                  | Một trong những tài sản quý giá nhất của tiếng Anh là tính linh động. Bạn có nhiều cách khác nhau để giải thích cho cùng một điều nhờ lượng từ vựng tiếng Anh rất lớn. Theo thống kê, tiếng Anh có trên 750.000 từ. (tùy thuộc
                  | đôi chút vào các bạn đếm – một số hào phóng nâng con số này lên 1 triệu từ). Và mỗi năm một số từ mới được bổ sung thêm (xem điểm 8 dưới đây).
                h3 7. Tiếng Anh có vẻ khác nhau trên toàn thế giới
                p
                  | Một sự phát triển gần đây trong cuộc cách mạng tiếng Anh là sự xuất hiện của các phương ngữ tại những quốc gia nói tiếng Anh. Anh, Úc và Mỹ đều có cách nói và phát âm khác nhau, do ảnh hưởng bởi các sự kiện văn hóa và lịch
                  | sử đã hình thành nên sự phát triển ngôn ngữ.
                h3 8. Tiếng Anh thực sự linh hoạt
                p
                  | Những người nói tiếng Anh như một ngôn ngữ thứ hai nhận xét rằng có rất nhiều cách để diễn đạt về cùng một thứ. Đó là lý do tiếng Anh không phân biệt đối xử – bạn có thể sử dụng theo cách mình thích. Các nước như Singapore
                  | đã áp dụng khái niệm này, sáng tạo ra một loại tiếng Anh hoàn toàn mới được gọi là “Singlish” hấp thụ nhiều mặt của các ngôn ngữ khác như Trung Quốc và Malay.
                h3 9. Tiếp tục thay đổi
                p
                  | Selfie. Bae. Smasual. Tất cả những từ trên là từ mới trong tiếng Anh. Nhưng đã là từ quan trọng trong kho từ vựng. Hơn bất kỳ ngôn ngữ nào khác, tiếng Anh tiếp tục phát triển và hấp thụ các từ mới. Thường không được dịch –
                  | phát triển sang các ngôn ngữ khác. Tiếng Anh thực sự là một ngôn ngữ phù hợp với mọi địa điểm, hoàn cảnh.
                p
                  | Liên kết của tôi với tiếng Anh có thể được di truyền. Nhưng tiếng Anh mang lại rất nhiều thứ cho mọi người. Bất kể họ ở đâu trên thế giới. Bên cạnh đó, hẳn tất cả mọi người đều biết “selfie” là gì phải không nào?
                .article-full__bottom
                  .article-full__tags
                    div
                      i.fas.fa-tags
                      strong Related Tags
                    span HỌC TIẾNG, VĂN HÓA, SỰ THẬT THÚ VỊ
                  .article-full__share
                    div
                      strong Share This
                      i.fas.fa-share-alt
                    ul
                      li
                        a(href='#!')
                          i.fab.fa-twitter
                      li
                        a(href='#!')
                          i.fab.fa-facebook-f
                      li
                        a(href='#!')
                          i.fab.fa-google-plus-g
                      li
                        a(href='#!')
                          i.fab.fa-pinterest-p
                .article-full__nav
                  ul.articles-nav-list
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blogprev')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-prev-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title Năm mới – Học ngôn ngữ mới, 8 cách để thực hiện điều đó
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Isabelle
                      .articles-nav-item__label Prev Post
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blognext')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-next-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title 5 lý do tiếng Anh – Anh khác Anh – Mỹ du học sinh cần biết
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Tom
                      .articles-nav-item__label Next Post
      footer.page-footer(style='background-color: #FCF7F7;')
        .page-footer__top
          .uk-container
            .page-footer__logo
              .logo
                a.logo__link(href='home')
                  img.logo__img(src='assets/img/logo.png' alt='logo')
            .page-footer__contacts
              .contact-item-box
                .contact-item-box__title Địa chỉ 
                .contact-item-box__value
                  | 38C - 39C, quốc lộ 1A,
                  br
                  |  Tân Thới Hiệp, Quận 12, Tp.HCM
              .contact-item-box
                .contact-item-box__title Mở cửa
                .contact-item-box__value
                  | Thứ 2 - Thứ 7: 10:00 AM – 11:30 PM
                  br
                  |  Chủ nhật: 9:00 AM – 4:00 PM
              .contact-item-box
                .contact-item-box__title Liên hệ
                .contact-item-box__value
                  | Email: 
                  a(href='mailto:cloudythy@gmail.com') t2e@gmail.com
                  br
                  |  Điện thoại:
                  a(href='tel:0394143031')  0394143031
        .page-footer__middle
          .uk-container
            ul.uk-navbar-nav
              li
                a(href='/') Trang chủ
              li
                a(href='catalog') Khóa học
              li
                a(href='branch') Chi nhánh
              li
                a(href='branch') Về chúng tôi
              li
                a(href='blog') Tin tức
              li
                a(href='contacts') Liên hệ
        .page-footer__bottom
          .uk-container
            .page-footer__social
              ul.social
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-twitter
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-facebook-f
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-linkedin-in
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-google-plus-g
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-youtube
            .page-footer__copy
              span ©2018 t2e
              a(href='#!') Terms and Conditions
        #offcanvas(data-uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button' data-uk-close='')
            .uk-margin-top
              ul.uk-nav
                li
                  a(href='/') Trang chủ
                li
                  a(href='catalogs') Khóa học
                li
                  a(href='branch') Chi nhánh
                li
                  a(href='home') Về chúng tôi
                li
                  a(href='blog') Tin tức
                li
                  a(href='contacts') Liên hệ
            hr.uk-margin
            ul.uk-nav.uk-nav-parent-icon(data-uk-nav='')
              li.uk-parent
                a(href='catalog') Khóa thiếu nhi
              li.uk-parent
                a(href='catalog') Khóa thiếu niên
              li.uk-parent
                a(href='catalog') Khóa ôn thi
              li.uk-parent
                a(href='catalog') Khóa kỹ năng
            hr.uk-margin
            .uk-margin-bottom
              .block-with-phone
                img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                div
                  span Liên hệ ngay với chúng tôi
                  a(href='tel:13205448749') 0394143031
        #callback.uk-flex-top(data-uk-modal='')
          .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
            button.uk-modal-close-default(type='button' data-uk-close='')
            p
        #modal-full.uk-modal-full.uk-modal(data-uk-modal='')
          .uk-modal-dialog.uk-flex.uk-flex-center.uk-flex-middle(data-uk-height-viewport='')
            button.uk-modal-close-full(type='button' data-uk-close='')
            form.uk-search.uk-search-large
              input.uk-search-input.uk-text-center(type='search' placeholder='Search...' autofocus='')
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/uikit.min.js')
    script(src='assets/js/uikit-icons.min.js')
    script(src='assets/js/main.js')
    script(src='assets/js/fontawesome.all.min.js')
