doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Năm mới – Học ngôn ngữ mới, 8 cách để thực hiện điều đó
    meta(content='Chernyh Mihail' name='author')
    meta(content='Spedito - All in one place' name='description')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='HandheldFriendly' content='true')
    meta(name='format-detection' content='telephone=no')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    link(rel='shortcut icon' href='assets/img/logoW.png' type='image/x-icon')
    link(rel='stylesheet' href='assets/css/uikit.min.css')
    link(rel='stylesheet' href='assets/css/main.css')
    link(rel='stylesheet' href='assets/css/dropdown.css')
    link#dm-light(rel='stylesheet' href='assets/css/light.css')
  body.page-article.dm-light
    // Loader
    #page-preloader
      span.spinner.border-t_second_b.border-t_prim_a
    // Loader end
    .page-wrapper
      header.page-header
        .page-header__top
          .uk-container
            nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                button.uk-button(type='button' data-target='#offcanvas' data-uk-toggle='' data-uk-icon='menu')
                ul.uk-navbar-nav
                  li
                    a(href='home') TRANG CHỦ
                  li
                    a(href='catalog') KHÓA HỌC
                  li
                    a(href='branch') CHI NHÁNH
              .uk-navbar-center
                .logo
                  .logo__box
                    a(href='home')
                      img.logo__img.logo__img--full(src='assets/img/logo.png' alt='logo')
              .uk-navbar-right
                ul.uk-navbar-nav
                  li
                    a(href='home') VỀ CHÚNG TÔI
                  li
                    a(href='blog') TIN TỨC
                  li
                    a(href='contact') LIÊN HỆ
        .page-header__bottom
          .uk-container
            .uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                div
                  .block-with-phone
                    img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                    div
                      span Liên hệ ngay với chúng tôi
                      a(href='tel:13205448749') 0394143031
              .uk-navbar-center
              .uk-navbar-right
                .other-links
                  ul.other-links-list
                    li
                      a(href='#modal-full' data-uk-toggle='')
                        span(data-uk-icon='search')
                    li
                      a(href='login')
                        span(data-uk-icon='user')
                    li
                      a(href='cart')
                        span(data-uk-icon='cart')
      main.page-main
        .section-first-screen
          .first-screen__bg(style='background-image: url(assets/img/pages/contacts/bg12.jpg)')
          .first-screen__content
            .uk-container
              nav.category-nav
                nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
                  ul.uk-navbar-nav
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunhi.png' alt='face care' data-uk-svg='')
                          span.nav-item__text Khoa học
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunien.png' alt='hair care' data-uk-svg='')
                          span.nav-item__text Ngôn ngữ
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/onthi.png' alt='lips care' data-uk-svg='')
                          span.nav-item__text Luyện thi
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/kynang.png' alt='body care' data-uk-svg='')
                          span.nav-item__text Kỹ năng
              .first-screen__box
                h2.first-screen__title Latest News
                .first-screen__breadcrumb
                  ul.uk-breadcrumb
                    li
                      a(href='/') Home
                    li
                      span News Blog
                    li
                      span Full post
        .page-content
          .uk-margin-large-top.uk-container.uk-container-small
            article.article-full
              .article-full__info
                .article-full__author
                  i.fas.fa-user
                  span By Isabelle
                .article-full__category
                  i.fas.fa-folder-open
                  span Posted in Event
                .article-full__date
                  i.fas.fa-calendar-alt
                  span Jan 22, 2021
                .article-full__comments
                  i.fas.fa-comment
                  span 10
              .article-full__image
                a(href='/blogarticle')
                  img(src='assets/img/blog/eng-blog-prev-1.jpg' alt='img-article')
              .article-full__content
                h1 Năm mới – Học ngôn ngữ mới, 8 cách để thực hiện điều đó
                p
                  | Nếu bạn cần nguồn cảm hứng cho những mục tiêu hoàn hảo để khiến năm nay của bạn trở thành năm tuyệt vời nhất, bạn đã đến đúng chỗ rồi đấy: học một ngôn ngữ mới nên trở thành mục tiêu của bạn trong năm mới. Vì sao vậy? Đơn giản
                  | vì nó mang lại cho bạn sự tự tin, trí nhớ của bạn sẽ đạt tới trình độ cao hơn, đi du lịch sẽ trở nên vui vẻ gấp bội phần, và cuối cùng không thể không nhắc tới là bạn sẽ trở thành một ứng viên tuyển dụng đáng giá và thậm
                  | chí có thể kiếm nhiều tiền hơn. Điều đó nghe như một cú ghi điểm ngoạn mục cho những mục tiêu của Năm Mới, phải không? Để chắc chắn mọi việc đều diễn ra suôn sẻ, sau đây là một số lời khuyên dành cho bạn sau khi bạn đã
                  | hăng hái lựa chọn được một ngôn ngữ để học.
                h3 1. Hãy thực tế
                img(src='assets/img/blog/eng-blog-prev-2.jpg' alt='img-article')
                p
                  | Tôi không muốn làm bạn mất hứng, nhưng bạn sẽ không thể thành thạo tiếng Tây Ban Nha trong một tuần hay thậm chí là một tháng. Nhưng bạn có thể học cách đếm tới 100 trong một tuần và ghi nhớ cách ghép 10 động từ bất quy tắc
                  | trong 10 ngày. Mục tiêu của bạn càng khả thi, bạn càng dễ dàng đạt được chúng. Việc này sẽ khiến cho toàn bộ trải nghiệm của bạn trở nên dễ chịu hơn. Nếu bạn chia các mục tiêu ngôn ngữ của mình thành các bước nhỏ hơn, trong
                  | nháy mắt chúng sẽ trở thành một phần thói quen hàng ngày của bạn, và sau vài tuần, bạn sẽ tranh thủ hoàn thành bài tập về nhà môn Tiếng Trung của mình trong thời gian đi đường hoặc sử dụng mà thậm chí không cần phải suy
                  | nghĩ về nó.
                h3 2. Hãy cụ thể
                p
                  | Nói rằng bạn muốn học Tiếng Anh đã là một mục tiêu tuyệt vời, nhưng nó sẽ hiệu quả hơn với một mục tiêu cụ thể. Có thể từ giờ cho đến cuối năm bạn muốn xem một bộ phim Mỹ mà không cần đọc phụ đề, đọc một cuốn sách mà không
                  | cần dùng từ điển. Hay du lịch tới London và gọi món khoai tây chiên như một người Anh đích thực? Những mục tiêu tốt (và bổ ích) thường có những kết quả cụ thể. Vì vậy hãy chắc rằng kế hoạch học ngôn ngữ của bạn có một mục
                  | tiêu cụ thể và có thể được chia ra thành những bước nhỏ.
                h3 3. Lựa chọn một phương pháp
                img(src='assets/img/blog/eng-blog-prev-3.jpg' alt='img-article')
                p
                  | Hiện nay có rất nhiều công cụ học ngôn ngữ – các file âm thanh, podcast, ứng dụng, các chuyến du học ngôn ngữ, học đôi, và tất nhiên là cả những lớp học trực tuyến và ngoại tuyến. Hãy chắc chắn trong việc lựa chọn một phương
                  | pháp hiệu quả nhất đối với bạn. Nếu bạn không thích học một mình, các podcast có thể không phải là phương pháp phù hợp nhất . Thay vào đó, hãy tìm một người bạn học đồng hành hoặc tham gia một lớp học. Việc lựa chọn được
                  | một phương pháp phù hợp hay một nhóm kết hợp các phương pháp hiệu quả sẽ mất chút thời gian. Nhưng đó là một phần của trải nghiệm học tập và sẽ giúp bạn đạt được mục tiêu của mình.
                h3 4. Lập kế hoạch cho những giai đoạn khó khăn
                p
                  | Sẽ có những ngày hay thậm chí là những tuần bạn chẳng thấy có gì vui vẻ, và bạn quá bận rộn với việc học và công việc – ngữ pháp Tiếng Ý là thứ cuối cùng xuất hiện trong tâm trí bạn, bất kể bạn có mong muốn tuyệt vọng chừng
                  | nào được tới Rome và ăn kem gelato trong khi đang chiêm ngưỡng Đấu trường La Mã. Nếu bạn không có thời gian và năng lượng để lo lắng về các tính từ và phó từ trong vòng một hoặc hai tuần. Điều đó hoàn toàn không có vấn
                  | đề gì cả. Đừng nản lòng bởi những thất bại và từ bỏ kế hoạch của bạn. Thay vào đó, hãy tự “phủi bụi” bản thân và bắt đầu từ nơi mà bạn đã tạm dừng. Sau cùng thì, thành Rome không chỉ được xây dựng trong một ngày.
                h3 5. Giám sát tiến độ của bản thân
                p
                  | Mặc dù các bài kiểm tra thực sự không thú vị nhiều như vậy. Nhưng nó lại đóng vai trò quan trọng trong việc theo dõi những thành quả của mình. Rất nhiều ứng dụng và các lớp học có những bài kiểm tra tích hợp mà bạn cần phải
                  | vượt qua trước khi có thể tiếp tục học. Tuy nhiên cũng có những bài kiểm tra trực tuyến miễn phí sẽ giúp bạn đánh giá được trình độ ngôn ngữ của bản thân trong cả quá trình.
                img(src='assets/img/blog/eng-blog-prev-4.jpg' alt='img-article')
                p
                  | Nếu bạn không muốn bị kiểm tra, nhưng vẫn xác định mục tiêu phải xem được một bộ phim mà không cần đọc phụ đề. Hãy thử xem những đoạn phim ngắn hơn hay các phim hoạt hình để xem thử bạn nghe hiểu được bao nhiêu.
                h3 6. Hãy nói với mọi người về mục tiêu của bạn
                p
                  | Bạn học với một người bạn đồng hành hay tham gia một lớp học? Bạn sẽ có một chút áp lực phải hoàn thành bài tập về nhà, nhưng nếu bạn thích tự học? Hãy chắc rằng bạn nói với bạn bè, gia đình về các kế hoạch của mình. Như vậy
                  | bạn có thể sẽ có trách nhiệm hơn. Và họ có thể kiểm tra và giám sát quá trình học của bạn. Phải thường xuyên chia sẻ thông tin cập nhật về các từ vựng Tiếng Đức của bạn sẽ là một động lực tuyệt vời mà đôi khi bạn cần tới.
                h3 7. Hãy tự thưởng cho bản thân và vui vẻ
                p
                  | Khi bạn chia các mục tiêu của mình thành những bước nhỏ hơn, bạn sẽ dễ dàng theo dõi kết quả – và đo lường những gì bạn đã đạt được. Mỗi khi bạn đạt được một cột mốc nào đó, hãy tự thưởng cho bản thân. Có thể là một (hoặc ba)
                  | chiếc bánh hoặc một cái áo mới cho chuyến du lịch nước ngoài sắp tới. Tất nhiên, bạn cũng có thể tự chúc mừng cho những cụm từ Tiếng Nhật mới bằng cách tới một nhà hàng sushi và luyện tập chúng trong hội thoại thực tế?
                p(style='font-size: 16.5px; font-weight: 500; font-style: italic;')
                  | Ok, thực sự có một lý do khác rằng tại sao bạn nên học một ngôn ngữ mới trong năm mới. Đó là một trong những mục tiêu với lối đi tắt thú vị thực sự có hiệu quả.
                h3 8. Hãy thực hiện một chuyến hành trình (và ra nước ngoài)
                img(src='assets/img/blog/eng-blog-prev-5.jpg' alt='img-article')
                p
                  | Bạn muốn tiến nhanh hơn và trải nghiệm tất cả các siêu năng lực được nhắc tới ở trên gần như ngay lập tức? Học một ngôn ngữ mà bạn lựa chọn có thể là một kế hoạch tuyệt vời cho một năm mới. Học những từ mới và tìm ra cách sử
                  | dụng ngữ pháp thực sự thú vị hơn. Trong khi đang đi du lịch thế giới và lấp đầy hộ chiếu của bạn với những dấu nhập cảnh mới. Chúng tôi có chút thiên vị, nhưng hãy thực tế, các mục tiêu không thể đạt được tốt hơn thế.
                .article-full__bottom
                  .article-full__tags
                    div
                      i.fas.fa-tags
                      strong Related Tags
                    span HỌC TIẾNG, MẸO HỌC TIẾNG, NĂM MỚI
                  .article-full__share
                    div
                      strong Share This
                      i.fas.fa-share-alt
                    ul
                      li
                        a(href='#!')
                          i.fab.fa-twitter
                      li
                        a(href='#!')
                          i.fab.fa-facebook-f
                      li
                        a(href='#!')
                          i.fab.fa-google-plus-g
                      li
                        a(href='#!')
                          i.fab.fa-pinterest-p
                .article-full__nav
                  ul.articles-nav-list
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blogarticle')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title 9 lý do tiếng Anh là ngôn ngữ phổ biến nhất
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Tom
                      .articles-nav-item__label Prev Post
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blognext')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-next-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title 5 lý do tiếng Anh – Anh khác Anh – Mỹ du học sinh cần biết
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Tom
                      .articles-nav-item__label Next Post
      footer.page-footer(style='background-color: #FCF7F7;')
        .page-footer__top
          .uk-container
            .page-footer__logo
              .logo
                a.logo__link(href='home')
                  img.logo__img(src='assets/img/logo.png' alt='logo')
            .page-footer__contacts
              .contact-item-box
                .contact-item-box__title Địa chỉ 
                .contact-item-box__value
                  | 38C - 39C, quốc lộ 1A,
                  br
                  |  Tân Thới Hiệp, Quận 12, Tp.HCM
              .contact-item-box
                .contact-item-box__title Mở cửa
                .contact-item-box__value
                  | Thứ 2 - Thứ 7: 10:00 AM – 11:30 PM
                  br
                  |  Chủ nhật: 9:00 AM – 4:00 PM
              .contact-item-box
                .contact-item-box__title Liên hệ
                .contact-item-box__value
                  | Email: 
                  a(href='mailto:cloudythy@gmail.com') t2e@gmail.com
                  br
                  |  Điện thoại:
                  a(href='tel:0394143031')  0394143031
        .page-footer__middle
          .uk-container
            ul.uk-navbar-nav
              li
                a(href='/') Trang chủ
              li
                a(href='catalog') Khóa học
              li
                a(href='branch') Chi nhánh
              li
                a(href='branch') Về chúng tôi
              li
                a(href='blog') Tin tức
              li
                a(href='contacts') Liên hệ
        .page-footer__bottom
          .uk-container
            .page-footer__social
              ul.social
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-twitter
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-facebook-f
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-linkedin-in
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-google-plus-g
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-youtube
            .page-footer__copy
              span ©2018 t2e
              a(href='#!') Terms and Conditions
        #offcanvas(data-uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button' data-uk-close='')
            .uk-margin-top
              ul.uk-nav
                li
                  a(href='/') Trang chủ
                li
                  a(href='catalogs') Khóa học
                li
                  a(href='branch') Chi nhánh
                li
                  a(href='home') Về chúng tôi
                li
                  a(href='blog') Tin tức
                li
                  a(href='contacts') Liên hệ
            hr.uk-margin
            ul.uk-nav.uk-nav-parent-icon(data-uk-nav='')
              li.uk-parent
                a(href='catalog') Khóa thiếu nhi
              li.uk-parent
                a(href='catalog') Khóa thiếu niên
              li.uk-parent
                a(href='catalog') Khóa ôn thi
              li.uk-parent
                a(href='catalog') Khóa kỹ năng
            hr.uk-margin
            .uk-margin-bottom
              .block-with-phone
                img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                div
                  span Liên hệ ngay với chúng tôi
                  a(href='tel:13205448749') 0394143031
        #callback.uk-flex-top(data-uk-modal='')
          .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
            button.uk-modal-close-default(type='button' data-uk-close='')
            p
        #modal-full.uk-modal-full.uk-modal(data-uk-modal='')
          .uk-modal-dialog.uk-flex.uk-flex-center.uk-flex-middle(data-uk-height-viewport='')
            button.uk-modal-close-full(type='button' data-uk-close='')
            form.uk-search.uk-search-large
              input.uk-search-input.uk-text-center(type='search' placeholder='Search...' autofocus='')
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/uikit.min.js')
    script(src='assets/js/uikit-icons.min.js')
    script(src='assets/js/main.js')
    script(src='assets/js/fontawesome.all.min.js')
