doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 5 lý do tiếng Anh – Anh khác Anh – Mỹ du học sinh cần biết
    meta(content='Chernyh Mihail' name='author')
    meta(content='Spedito - All in one place' name='description')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='HandheldFriendly' content='true')
    meta(name='format-detection' content='telephone=no')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    link(rel='shortcut icon' href='assets/img/logoW.png' type='image/x-icon')
    link(rel='stylesheet' href='assets/css/uikit.min.css')
    link(rel='stylesheet' href='assets/css/main.css')
    link(rel='stylesheet' href='assets/css/dropdown.css')
    link#dm-light(rel='stylesheet' href='assets/css/light.css')
  body.page-article.dm-light
    // Loader
    #page-preloader
      span.spinner.border-t_second_b.border-t_prim_a
    // Loader end
    .page-wrapper
      header.page-header
        .page-header__top
          .uk-container
            nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                button.uk-button(type='button' data-target='#offcanvas' data-uk-toggle='' data-uk-icon='menu')
                ul.uk-navbar-nav
                  li
                    a(href='home') TRANG CHỦ
                  li
                    a(href='catalog') KHÓA HỌC
                  li
                    a(href='branch') CHI NHÁNH
              .uk-navbar-center
                .logo
                  .logo__box
                    a(href='home')
                      img.logo__img.logo__img--full(src='assets/img/logo.png' alt='logo')
              .uk-navbar-right
                ul.uk-navbar-nav
                  li
                    a(href='home') VỀ CHÚNG TÔI
                  li
                    a(href='blog') TIN TỨC
                  li
                    a(href='contacts') LIÊN HỆ
        .page-header__bottom
          .uk-container
            .uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              .uk-navbar-left
                div
                  .block-with-phone
                    img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                    div
                      span Liên hệ ngay với chúng tôi
                      a(href='tel:13205448749') 0394143031
              .uk-navbar-center
              .uk-navbar-right
                .other-links
                  ul.other-links-list
                    li
                      a(href='#modal-full' data-uk-toggle='')
                        span(data-uk-icon='search')
                    li
                      a(href='login')
                        span(data-uk-icon='user')
                    li
                      a(href='cart')
                        span(data-uk-icon='cart')
      main.page-main
        .section-first-screen
          .first-screen__bg(style='background-image: url(assets/img/pages/contacts/bg12.jpg)')
          .first-screen__content
            .uk-container
              nav.category-nav
                nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
                  ul.uk-navbar-nav
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunhi.png' alt='face care' data-uk-svg='')
                          span.nav-item__text Khoa học
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/thieunien.png' alt='hair care' data-uk-svg='')
                          span.nav-item__text Ngôn ngữ
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/onthi.png' alt='lips care' data-uk-svg='')
                          span.nav-item__text Luyện thi
                    li
                      a(href='catalog')
                        .nav-item
                          span.nav-item__icon
                            img(src='assets/img/icons/menu/kynang.png' alt='body care' data-uk-svg='')
                          span.nav-item__text Kỹ năng
              .first-screen__box
                h2.first-screen__title Latest News
                .first-screen__breadcrumb
                  ul.uk-breadcrumb
                    li
                      a(href='/') Home
                    li
                      span News Blog
                    li
                      span Full post
        .page-content
          .uk-margin-large-top.uk-container.uk-container-small
            article.article-full
              .article-full__info
                .article-full__author
                  i.fas.fa-user
                  span By Tom
                .article-full__category
                  i.fas.fa-folder-open
                  span Posted in Language
                .article-full__date
                  i.fas.fa-calendar-alt
                  span Nov 30, 2020
                .article-full__comments
                  i.fas.fa-comment
                  span 20
              .article-full__image
                a(href='blogarticle')
                  img(src='assets/img/blog/eng-blog-next-1.jpg' alt='img-article')
              .article-full__content
                h1 5 lý do tiếng Anh – Anh khác Anh – Mỹ du học sinh cần biết
                p
                  | Anh và Mỹ có thể chia sẻ cùng một ngôn ngữ – tiếng Anh, nhưng chẳng có mấy sự tương đồng trong cách phát âm khi một người Anh và người Mỹ nói chuyện với nhau cả. Đúng vậy, tất cả mọi thứ từ A đến Z. Các từ được viết giống nhau
                  | nhưng nghe lại hoàn toàn khác nhau khi phát âm. Có cả một đại dương khác biệt về ngôn ngữ (cùng với một đại dương địa lý thực sự) giữa hai quốc gia nói Tiếng Anh lớn nhất thế giới này. Nhưng đừng lo lắng! Nếu bạn đang du
                  | học Anh ở London và muốn biết điều gì khiến giọng của bạn khác biệt so với người bạn của bạn đang du học Mỹ tại New York, đây là những điều bạn cần biết.
                h3 1. Tiếng Anh – Mỹ thực sự lâu đời hơn
                p
                  | Nếu bạn đang du học Anh thì đừng nói với người Anh thế nhé. Vì chính Anh đã sản sinh ra nước Mỹ mà chúng ta biết đến ngày nay. Nhưng thực tế điều này hoàn toàn là sự thực. Khi những người Anh đầu tiên giương buồm đến Mỹ định
                  | cư, họ đã mang theo một ngôn ngữ phổ dụng. Dựa trên lối nói rhotic (khi bạn phát âm chữ r trong một từ). Trong khi đó, ở các thành phố thịnh vượng phía Nam Vương quốc Anh, những người ở tầng lớp cao cấp luôn muốn có cách
                  | nào đó để phân biệt họ với những thường dân khác. Vì vậy, họ bắt đầu thay đổi lối nói rhotic thành cách phát âm r nhẹ. Nói các từ như winter là “win-tuh” thay vì “win-terr”. Tất nhiên, những người này rất sang trọng và
                  | mọi người đều muốn bắt chước họ. Vì vậy cách nói mới này – cách mà người Anh hiện nay coi là Cách phát âm được công nhận – đã lan toả phần còn lại của miền Nam nước Anh. Điều đó cũng giải thích tại sao nhiều nơi bên ngoài
                  | miền Nam nước Anh vẫn còn sử dụng cách nói rhotic như là một phần giọng địa phương của họ. Về cơ bản, nếu bạn du học Anh và nói tiếng Anh của London, thì tức là cách nói của bạn nghe có vẻ quý tộc hơn đấy. Chiến thắng.
                h3 2. Tiếng Anh phát âm nghe giống tiếng Pháp hơn
                p
                  | Tiếng Pháp đã ảnh hưởng đến tiếng Anh nhiều hơn nhiều so với những gì người Anh tưởng tượng. (Bởi thế sinh viên du học Anh cũng bị ảnh hưởng khá nhiều của tiếng Pháp đấy nhé).
                p
                  | Lần đầu tiên tiếng Pháp ảnh hưởng đến tiếng Anh là khi nhà vua William xâm chiếm nước Anh vào thế kỷ 11 (tìm hiểu thêm về lịch sử Tiếng Anh tại đây). Họ mang theo Tiếng Pháp Norman và biến nó trở thành một ngôn ngữ quý tộc
                  | – được sử dụng trong các trường học, toà án, đại học, và ở tầng lớp thượng lưu. Nó không tồn tại mãi. Nhưng thay vào đó phát triển thành Tiếng Anh Trung cổ, là một sự pha trộn của các ảnh hưởng ngôn ngữ trong suốt thời
                  | gian đó. Lần thứ hai là trong suốt những năm 1700, khi mà việc sử dụng các từ và cách phát âm phong cách Pháp trở thành xu hướng sành điệu ở Anh.
                p
                  | Tất nhiên, người Mỹ đã sống cuộc sống của mình ở bên kia bờ Đại Tây Dương và không tham gia vào xu hướng này. Đó là lý do tại sao so với tiếng Anh Mỹ, tiếng Anh Anh lại có nhiều sự tương đồng ngôn ngữ với tiếng Pháp hơn. Và
                  | điều này phải chăng cũng lý giải nỗi ám ảnh của người Anh với bánh sừng bò. Hoặc có thể chỉ với mình tôi thôi.
                h3 3. Cách viết kiểu Mỹ được phát minh như một dạng phản kháng cách viết kiểu Anh
                p
                  | Từ điển Mỹ và Anh rất khác nhau. Bởi chúng được biên soạn bởi hai tác giả rất khác nhau với hai quan điểm không đồng nhất về ngôn ngữ. Từ điển của Anh được biên soạn bởi các học giả từ London. (Vì một vài lý do không phải là
                  | Oxford). Những người này chỉ muốn thu thập tất cả các từ Tiếng Anh phổ biến. Trong khi đó, từ điển của Mỹ lại được thực hiện bởi một người biên soạn từ điển có tên là Noah Webster. Webster muốn cách viết của Mỹ không chỉ
                  | đơn giản hơn mà còn phải khác biệt với cách viết của người Anh. Cũng như cái cách mà người Mỹ thể hiện sự độc lập từ luật lệ của Anh trước đây. Ông đã bỏ chữ u trong các từ như colour và honour – cách viết được phát triển
                  | từ ảnh hưởng của Pháp lên nước Anh. Để biến chúng thành color và honor. Ông cũng làm tương tự với các từ kết thúc bằng –ise và biến chúng thành –ize. Bởi vì ông cho rằng cách viết Anh Mỹ nên phản ánh đúng cái cách mà người
                  | Mỹ phát âm từ đó. Thêm vào đó, z là chữ cái thú vị hơn khi viết. Vậy đấy.
                p
                  | Vậy nên những bạn sinh viên du học Anh và du học Mỹ cũng sử dụng những tài liệu ngôn ngữ như từ điển hay giáo trình cũng sẽ có cách viết vô cùng khác nhau. Và đương nhiên cách nói hay sử dụng tiếng Anh hàng ngày của họ cũng
                  | khác biệt rất lớn.
                h3 4. Người Mỹ thích bỏ hoàn toàn các từ. (Sinh viên du học Mỹ cũng vậy)
                p
                  | Đôi khi cũng có những sự khác biệt trong tiếng Anh Mỹ khiến người Anh không thể hiểu nổi. Như khi người Mỹ bỏ toàn bộ các động từ trong một câu. Sinh viên du học Mỹ cũng thường có thói quen như vậy. Khi nói với ai đó rằng họ
                  | sẽ viết thư cho họ. Họ sẽ nói là “I’ll write them”. Khi bạn hỏi một người Mỹ là liệu rằng họ có muốn đi mua sắm hay không. Họ có thể sẽ chỉ nói “I could”. Ở Anh, cách trả lời kiểu này nghe thực sự kỳ quặc, vì họ sẽ nói
                  | “I’ll write to you” và “I could go”. Bỏ động từ có lẽ bởi vì người Mỹ muốn nói nhanh hơn. Hoặc có thể vì người Anh chỉ thích viết chính xác những gì họ nói. Không ai đúng hay sai ở đây cả. Vậy nên đừng cho rằng các bạn
                  | sinh viên du học Mỹ đã học một cách nói không đúng nhé.
                h3 5. Hai thứ tiếng Anh này được vay mượn từ nhiều ngôn ngữ khác nhau
                p
                  | Rõ ràng là tiếng Anh Anh và Anh Mỹ đã phát triển theo 2 hướng khác nhau khi bạn xem xét các ảnh hưởng văn hoá đã tác động biệt lập tới mỗi kiểu Tiếng Anh đó. Cũng như việc làm thế nào họ đã mượn từ của các ngôn ngữ đó. Vì vài
                  | lý do, điều này lại rất phổ biến đối với các từ nói về thực phẩm. Chẳng hạn từ coriander (Anh Anh, mượn từ Tiếng Pháp). Và cilantro (Anh Mỹ, mượn từ Tiếng Tây Ban Nha) đều có nghĩa là rau mùi. Và aubergine (Anh Anh, mượn
                  | từ Tiếng Ả Rập). Và eggplant (Anh Mỹ, gọi như vậy là vì nó trông giống một quả trứng màu tím) đều có nghĩa là cà tím. Còn rất nhiều ví dụ khác. Nhưng thôi, điều quan trọng là sử dụng đúng từ ở đúng quốc gia mà bạn đang
                  | du học. Sau cùng, bạn không muốn hỏi xin người Anh vài lá nhôm (aluminium foil) và lại phát âm là aloo-minnum. Cũng như không muốn viết cho người Mỹ là “This is my favourite colour!” phải không?
                .article-full__bottom
                  .article-full__tags
                    div
                      i.fas.fa-tags
                      strong Related Tags
                    span HỌC TIẾNG ANH, ANH, US
                  .article-full__share
                    div
                      strong Share This
                      i.fas.fa-share-alt
                    ul
                      li
                        a(href='#!')
                          i.fab.fa-twitter
                      li
                        a(href='#!')
                          i.fab.fa-facebook-f
                      li
                        a(href='#!')
                          i.fab.fa-google-plus-g
                      li
                        a(href='#!')
                          i.fab.fa-pinterest-p
                .article-full__nav
                  ul.articles-nav-list
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blogprev')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-prev-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title Năm mới – Học ngôn ngữ mới, 8 cách để thực hiện điều đó
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Isabelle
                      .articles-nav-item__label Prev Post
                    li.articles-nav-item
                      a.articles-nav-item__link(href='blogarticle')
                        .articles-nav-item__img
                          img(src='assets/img/blog/eng-blog-1.jpg' alt='article-thumb')
                        .articles-nav-item__info
                          .articles-nav-item__title 9 lý do tiếng Anh là ngôn ngữ phổ biến nhất
                          .articles-nav-item__user
                            i.fas.fa-user
                            span By Tom
                      .articles-nav-item__label Next Post
      footer.page-footer(style='background-color: #FCF7F7;')
        .page-footer__top
          .uk-container
            .page-footer__logo
              .logo
                a.logo__link(href='home')
                  img.logo__img(src='assets/img/logo.png' alt='logo')
            .page-footer__contacts
              .contact-item-box
                .contact-item-box__title Địa chỉ 
                .contact-item-box__value
                  | 38C - 39C, quốc lộ 1A,
                  br
                  |  Tân Thới Hiệp, Quận 12, Tp.HCM
              .contact-item-box
                .contact-item-box__title Mở cửa
                .contact-item-box__value
                  | Thứ 2 - Thứ 7: 10:00 AM – 11:30 PM
                  br
                  |  Chủ nhật: 9:00 AM – 4:00 PM
              .contact-item-box
                .contact-item-box__title Liên hệ
                .contact-item-box__value
                  | Email: 
                  a(href='mailto:cloudythy@gmail.com') t2e@gmail.com
                  br
                  |  Điện thoại:
                  a(href='tel:0394143031')  0394143031
        .page-footer__middle
          .uk-container
            ul.uk-navbar-nav
              li
                a(href='/') Trang chủ
              li
                a(href='catalogs') Khóa học
              li
                a(href='branch') Chi nhánh
              li
                a(href='home') Về chúng tôi
              li
                a(href='blog') Tin tức
              li
                a(href='contacts') Liên hệ
        .page-footer__bottom
          .uk-container
            .page-footer__social
              ul.social
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-twitter
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-facebook-f
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-linkedin-in
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-google-plus-g
                li.social-item
                  a.social-link(href='#!')
                    i.fab.fa-youtube
            .page-footer__copy
              span ©2018 t2e
              a(href='#!') Terms and Conditions
        #offcanvas(data-uk-offcanvas='overlay: true')
          .uk-offcanvas-bar
            button.uk-offcanvas-close(type='button' data-uk-close='')
            .uk-margin-top
              ul.uk-nav
                li
                  a(href='/') Trang chủ
                li
                  a(href='blogarticle') Khóa học
                li
                  a(href='branch') Chi nhánh
                li
                  a(href='catalog') Về chúng tôi
                li
                  a(href='blog') Tin tức
                li
                  a(href='contacts') Liên hệ
            hr.uk-margin
            ul.uk-nav.uk-nav-parent-icon(data-uk-nav='')
              li.uk-parent
                a(href='catalog') Khóa thiếu nhi
              li.uk-parent
                a(href='catalog') Khóa thiếu niên
              li.uk-parent
                a(href='catalog') Khóa ôn thi
              li.uk-parent
                a(href='catalog') Khóa kỹ năng
            hr.uk-margin
            .uk-margin-bottom
              .block-with-phone
                img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                div
                  span Liên hệ ngay với chúng tôi
                  a(href='tel:13205448749') 0394143031
        #callback.uk-flex-top(data-uk-modal='')
          .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
            button.uk-modal-close-default(type='button' data-uk-close='')
            p
        #modal-full.uk-modal-full.uk-modal(data-uk-modal='')
          .uk-modal-dialog.uk-flex.uk-flex-center.uk-flex-middle(data-uk-height-viewport='')
            button.uk-modal-close-full(type='button' data-uk-close='')
            form.uk-search.uk-search-large
              input.uk-search-input.uk-text-center(type='search' placeholder='Search...' autofocus='')
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/uikit.min.js')
    script(src='assets/js/uikit-icons.min.js')
    script(src='assets/js/main.js')
    script(src='assets/js/fontawesome.all.min.js')
